<div>
  <hr>
  <div >
    <ul >
      <li  >
        <a  href="about.html">About</a>
      </li>
      <li >
        <a  href="services.html">Services</a>
      </li>
      <li >
        <a  href="contact.html">Contact</a>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Other Pages
        </a>
        <div class="dropdown-menu dropdown-menu-right" >
          <a class="dropdown-item" href="full-width.html">Full Width Page</a>
          <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
          <a class="dropdown-item" href="faq.html">FAQ</a>
          <a class="dropdown-item" href="404.html">404</a>
          <a class="dropdown-item" href="pricing.html">Pricing Table</a>
        </div>
      </li>
    </ul>
  </div>
  <hr>
</div>